<div
  class="body-inside-wrapper page-width"
  {% if section.settings.background_gradient != blank %}
    style="background: {{ section.settings.background_gradient }};"
  {% endif %}
>
  {%- if section.settings.upper_text != blank -%}
    <div class="scrolling-text scrolling-text--auto">
      <span class="text-main-wrapp">{{ section.settings.upper_text }}</span>
    </div>
  {%- endif -%}

  <div class="body-text-content-wrapper">
    {%- if section.settings.main_heading != blank -%}
      <h4>{{ section.settings.main_heading }}</h4>
    {%- endif -%}
    {%- if section.settings.button_text != blank -%}
      <a
        href="{{ section.settings.button_link }}"
        class="btn"
        {%- if section.settings.button_bg_color != ' blank' -%}
          style="background-color: {{ section.settings.button_bg_color }};"
        {%- endif -%}
      >
        {{- section.settings.button_text -}}
      </a>
    {%- endif -%}
  </div>

  {%- if section.settings.lower_text != blank -%}
    <div class="scrolling-text scrolling-text--auto">
      <span class="text-main-wrapp">{{ section.settings.lower_text }}</span>
    </div>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "Wholesale Partner",
  "tag": "section",
  "class": "wholsale-partner-outter-wrapp",
  "settings": [
    {
      "type": "text",
      "id": "upper_text",
      "label": "Upper Scrolling Text"
    },
    {
      "type": "richtext",
      "id": "main_heading",
      "label": "Main Heading"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "lower_text",
      "label": "Lower Scrolling Text"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Button Background Color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background Gradient"
    }
  ],
  "presets": [
    {
      "name": "Wholesale Partner"
    }
  ]
}
{% endschema %}
